<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node with Passport | Login</title>

    <%- include('_partials/header') %>

    <% if (messages.error) { %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 p-3 text-primary-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                <%= messages.error %>
            </div>
        </div>
    </div>
    <% } %>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-wrapper">

                        <h4>Login</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Pages</a></li>
                                <li class="breadcrumb-item active">Login</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-primary mb-3">Login</h1>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST">

                                <div class="mb-4">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        aria-describedby="emailHelp" required>
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>

                            <div class="mt-5">
                                Not yet registered? <a href="/register">Create an account Now !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('_partials/footer') %>